@import url("https://fonts.googleapis.com/css?family=Poppins");
*{
    font-family: 'Poppins';
    color: #f0e9d2;
}   
body{
    height: 100vh;
    background-color: #181d31;
}
.navbar{
    display: flex;
    background-color: #678983;
}

.card{
    background-color: #e6ddc4;
}

.foot{
    background-color: #678983;
    position: fixed;
    width: 100%;
    /* padding: 10px; */
    color: #f0e9d2;
    left: 0;
    bottom:0;
} 
