@import url("https://fonts.googleapis.com/css?family=Poppins");
*{
    font-family: 'Poppins';
    color: #fff;
}   
body{
    height: 100vh;
    background-color: #0b0c10;
}
.navbar{
    display: flex;
    background-color: #f25a1d;
}

.card{
    background-color: #f25a1d;
}


.foot{
    background-color: #f25a1d;
    position: fixed;
    width: 100%;
    /* padding: 10px; */
    color: #fff;
    left: 0;
    bottom:0;
} 

.alert {
    display: flex;
    justify-content: space-between; 
}